<configuration>
	<appender name="R" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%r %p [ %t ] %c - %m%n</pattern>
		</encoder>
	</appender>
 
 	<logger name="com.oxygenxml.resources.batch.converter" level="info" />

	<root level="info">
		<appender-ref ref="R" />
	</root>
</configuration>